.container{
    padding-top: 8%;
}

.box {
    margin-top:10px;
    background-color: var(--box-bg);
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
.header{
    text-align: center;
}