.signuppage{
    position: absolute;
    display: flex;


margin: auto;
padding-top: 100px;


}

.usernameinput , .passwordinput , .confirmpasswordinput , .emailinput{



    margin-top: 10px;
    padding-left: 20px;

}


.createtext{
    position: relative;
    text-align: center;
    margin-top: 120px;
}

.signupform{
    display: flex;
    flex-direction: column;
    margin: 80px;
 
  
}
.confirmpasswordinput{
    margin-bottom: 40px;
}
.signupbutton{

   margin: auto;
   width: 150px;
    

}