.signuppage{

width: 30rem;
margin: auto;
padding-top: 1300px;


}
.createtext{

    text-align: center;
    padding-top:100px;
}

.signupform{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
 
  
}
.signupbutton{
    display: block;
    margin-top: 30px;
 
    
margin: auto;
display: block;
width: 10rem;
    

}
input{

  
    width: 10%;
}